<!-- Navbar -->
<div class="container position-sticky z-index-sticky top-0">
  <div class="row">
    <div class="col-12">
      <nav
        class="navbar navbar-expand-lg  blur blur-rounded top-0  z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
        <div class="container-fluid px-0">
          <a class="navbar-brand font-weight-bolder ms-sm-3" href="index" rel="tooltip"
            title="Designed and Coded by Creative Tim" data-placement="bottom">
            Doc Digest
          </a>
          <a href="https://www.creative-tim.com/product/soft-ui-design-system-pro#pricingCard"
            class="btn btn-sm  bg-gradient-primary  btn-round mb-0 ms-auto d-lg-none d-block">Buy Now</a>
          <button class="navbar-toggler shadow-none ms-md-2" type="button" data-bs-toggle="collapse"
            data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon mt-2">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </span>
          </button>
          <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
            <ul class="navbar-nav navbar-nav-hover mx-auto">
              <li class="nav-item  mx-2">
                <a class="nav-item mx-2" href="my-files">
                  My Documents
                </a>
              </li>
            </ul>
            <ul class="navbar-nav d-lg-block d-none">
              <li class="nav-item">
                <a href="acount" class="btn btn-sm  bg-gradient-primary  btn-round mb-0 me-1"
                  onclick="smoothToPricing('pricing-soft-ui')">Account</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>