{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <div class="row">
              <div class="col-6 d-flex align-items-center">
                <h6 class="mb-0">My Files</h6>
              </div>
              <div class="col-6 text-end">
                <label id="upload-btn" class="btn btn-default btn-file bg-gradient-dark mb-0">
                  <input type="file" style="display: none;"><i class="fas fa-plus"></i>&nbsp;&nbsp;Upload File</input>
                </label>
              </div>
            </div>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Filename</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Type</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date Uploaded</th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>

                  {% for file in files %}
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ file.filename }}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">
                          <button class="btn btn-link text-dark text-sm mb-0 px-0">
                            <i class="fas fa-file-pdf text-lg me-1"></i>
                            PDF
                          </button></p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-success">{{ file.status }}</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">{{ file.date }}</span>
                      </td>
                      <td class="align-middle">
                        <button id="process-btn" onclick="parseFile('{{file.id}}')" class="btn btn-lg btn-link pe-3 ps-0 mb-0 ms-auto" >
                          <span class="badge bg-gradient-secondary">Process</span>
                        </button>
                      </td>
                    </tr>
                  {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>
    
{% endblock content %}



<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script>

    const token       = localStorage.getItem('token') || ''
    let data          = []
    let requestAction = 'post' // for update/add record

    var fileUpload = document.getElementById('upload-btn')
    var input = document.querySelector('input[type="file"]')

    $(fileUpload).on('change', ':file', function() {
      var input = $(this);
      var numFiles = input.get(0).files ? input.get(0).files.length : 1;
      var label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
      input.trigger('fileselect', [numFiles, label]);
    });

    $(':file').on('fileselect', function () {
      var validExtension = ['pdf'];

      var file = this.files[0];
      let formData = new FormData();           
      formData.append("file", file);

      /*if (file.size > 4096) {
        alert('max upload size is 4k');
      }*/
      
      var fileName = file.name
      var fileExt = fileName.substr(fileName.lastIndexOf('.') + 1);


      if ($.inArray(fileExt, validExtension) == -1){
           alert("Invalid file type");
           return false;
      }

      $.ajax({
        url: '/api/file/',
        type: 'POST',
        data: formData,
        headers: {"Authorization": `${token}`},
        contentType: false,
        processData: false,
        success: function(response){
            if(response != 0){
              alert('File uploaded!');
            }else{
              alert('File not uploaded!');
            }
        },
      });
    });

    function parseFile(fileID) {
      $.ajax({
        url: '/api/file/parse/' + fileID,
        headers: {"Authorization": `${token}`},
        contentType: false,
        processData: false,
        success: function(response){
            if(response != 0){
              alert('File parsed!');
            }else{
              alert('File failed to parse!');
            }
        },
      });
    }

  </script>

{% endblock javascripts %}