{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <div class="container-fluid py-4">
    <div class="row">
      
      <div class="col-md-7 mt-4 ">
        <div class="card">
          <div class="card-header pb-0 px-3 ">
            <h6 class="mb-0">Upload File</h6>
          </div>
          <div class="card-body pt-4 p-3">

            <form id="upload-form">
              <div class="row">
                <div class="mb-3">
                  <input class="form-control" type="file" id="formFile">
                </div>
              </div>
              <div class="row">
                <div class="mb-3">
                  <button type="submit" class="btn btn-outline-primary btn-sm mb-0">Upload</button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>

    </div>

    {% include "includes/footer.html" %}

  </div>
    
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script>

    const token       = localStorage.getItem('token') || ''
    let data          = []
    let requestAction = 'post' // for update/add record

    var form = document.getElementById('upload-form')
    var input = document.querySelector('input[type="file"]')
    
    form.onsubmit = (e) => {
      var data = new FormData()
      data.append('file', input.files[0])

      fetch('/api/file/',{
          method: 'POST',
          body: data,
          headers: {"Authorization": `${token}`}
      }).then((response) => {
        if(!response.ok)
          return response.text().then(text => { throw new Error(text) })
        else
          return response.json()
      }).then((res) => {
          console.log(res)
          location.reload()
      }).catch((err) => {
          console.log("ERR")
          console.log(err)
      })
    }

  </script>

{% endblock javascripts %}