{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
    <h1 align="center">Files</h1>
    <ul class="list-group list-group-flush" id="files">
      {% for file in user.files %}
      <li class="list-group-item">
        {{ file.filename }}
        <button type="button" class="btn btn-default float-right" aria-label="right-align" onClick="deleteFile({{ file.id }})">
          <span class="fa fa-trash-o fa-lg" aria-hidden="true"></span>
        </button>
        <a type="button" class="btn btn-default float-right" aria-label="right-align" href="{{ url_for('files.download', fileId=file.id) }}">
          <span class="fa fa-download fa-lg" aria-hidden="true"></span>
        </a>
        <button type="button" class="btn btn-primary float-right" aria-label="right-align">
          Summarize
        </button>
      </li>
      {% endfor %}
    </ul>

    <h1>File Upload</h1>
    <form method="POST" name="file" id="file" action="files/upload" enctype="multipart/form-data">
      <p><input type="file" name="file" accept=".pdf"></p>
      <p><input type="submit" value="Submit"></p>
    </form>

{% endblock %}